$primaryColor: #e91d50;
$primaryHover: #cb1946;
$secondaryColor: #ffc25e;
$secondaryHover: #eca63a;
$headerFont: "Kobenhavn Sans";
$generalFont: "Josefin Sans";

h1, h2, h3, h4, h5 {
  font-family: $headerFont;
}

.nav {
  font-family: $headerFont;
  color: $secondaryColor;
}

.nav a:hover {
  color: $secondaryHover;
}

.topbar-responsive .menu a {
   color: $secondaryColor;
 }

.topbar-responsive .menu a:hover {
  color: $secondaryHover;
}

.topbar-responsive .topbar-responsive-logo {
  color: $secondaryColor;
}

.home-content {
  color: $primaryColor;
  background-color: $secondaryColor;
  font-family: $generalFont;
}

.fi {
  font-size: 80px;
  color: $primaryColor;
}

.tech-section a {
  color: $primaryColor;
}

.tech-section a:hover {
  color: $primaryHover;
}

.templates-content {
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: $generalFont;
  padding: 10px;
}

.templates-header {
  padding: 30px;
}

.team-content {
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: $generalFont;
  padding: 10px;
}

.team-header {
  padding: 30px;
}

.footer {
  color: $secondaryColor;
  background-color: $primaryColor;
  font-family: $generalFont;
  padding: 10px;
}

.footer a {
  color: $secondaryColor;
}

.footer a:hover {
  color: $secondaryHover;
}

.footer .footer-content .footer-content-section {
  padding: 10px;
}