h1, h2, h3, h4, h5 {
  font-family: "Kobenhavn Sans";
}

.nav {
  font-family: "Kobenhavn Sans";
  color: #ffc25e;
}

.nav-logo {
  height: 50px;
  width: auto;
}

.nav-links {
  font-size: 20px;
}

.nav a:hover {
  color: #eca63a;
}

.topbar-responsive .menu a {
  color: #ffc25e;
}

.topbar-responsive .menu a:hover {
  color: #eca63a;
}

.topbar-responsive .topbar-responsive-logo {
  color: #ffc25e;
}

.home-content {
  color: #e91d50;
  background-color: #ffc25e;
  font-family: "Josefin Sans";
}

.subheader {
  color: #ffc25e;
}

.fi {
  font-size: 80px;
  color: #e91d50;
}

.tech-section a {
  color: #e91d50;
}

.tech-section a:hover {
  color: #cb1946;
}

.templates-content {
  background-color: #ffc25e;
  color: #e91d50;
  font-family: "Josefin Sans";
  padding: 10px;
}

.templates-header {
  padding: 30px;
}

.template-card-icon {
  height: 150px;
}

.forum-content {
  background-color: #ffc25e;
}

.accordion, .accordion:hover, .accordion-item, .accordion-item:hover {
  background-color: #ffc25e;
}

.forum-content-header, .accordion-title, .accordion-title:hover {
  color: #e91d50;
}

.forum-content-header {
  padding-left: 20px;
}

.accordion-content {
  color: #ffc25e;
}

.team-content {
  background-color: #ffc25e;
  color: #e91d50;
  font-family: "Josefin Sans";
  padding: 10px;
}

.team-header {
  padding: 30px;
}

.footer {
  color: #ffc25e;
  background-color: #e91d50;
  font-family: "Josefin Sans";
  padding: 10px;
}

.footer a {
  color: #ffc25e;
}

.footer a:hover {
  color: #eca63a;
}

.footer .footer-content .footer-content-section {
  padding: 10px;
}
