.blogpost-footer-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.8125rem;
    border-bottom: 1px solid #cacaca;
    padding: 1rem;
}

@media print, screen and (min-width: 40em) {
    .blogpost-footer-actions {
        padding: 1rem 0;
    }
}

.blogpost-footer-actions-left a,
.blogpost-footer-actions-left button,
.blogpost-footer-actions-right a,
.blogpost-footer-actions-right button {
    color: #0a0a0a;
}

.blogpost-footer-actions-left button:hover,
.blogpost-footer-actions-right button:hover {
    cursor: pointer;
}

.blogpost-footer-actions-left a + a,
.blogpost-footer-actions-left button + button,
.blogpost-footer-actions-right a + a,
.blogpost-footer-actions-right button + button {
    margin-left: 0.75rem;
}

.blogpost-footer-author-section {
    padding: 1.75rem 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.blogpost-footer-author-section .button {
    border-radius: 5000px;
    padding: 0.875rem 1.75rem;
}

@media print, screen and (min-width: 40em) {
    .blogpost-footer-author-section {
        padding: 1.75rem 0;
    }
}

.blogpost-footer-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.blogpost-footer-author .avatar {
    border-radius: 50%;
    height: 3.75rem;
    width: 3.75rem;
}

.blogpost-footer-author .author {
    color: #0a0a0a;
    margin-left: 0.75rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0;
}

.blogpost-footer-author .bio {
    margin-left: 0.75rem;
    margin-bottom: 0;
    color: #8a8a8a;
}
