/*hero*/
.marketing-site-hero {
    background: url("https://images.pexels.com/photos/8264/pexels-photo.jpg?h=350&auto=compress&cs=tinysrgb") top right no-repeat;
    height: 65vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 40em) {
    .marketing-site-hero {
        background-position: center center;
    }
}

.marketing-site-hero-content {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.marketing-site-hero-content h1 {
    font-size: 32px;
}

.marketing-site-hero-content .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
}

@media screen and (min-width: 40em) {
    .marketing-site-hero-content {
        padding-left: 50%;
    }
}

/*features*/
.feature-section {
    padding: 20px;
}

.marketing-site-three-up {
    text-align: center;
    padding: 2rem 0;
}

.marketing-site-three-up .row {
    max-width: 900px;
}

.marketing-site-three-up .columns {
    margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
    .marketing-site-three-up .columns {
        margin-bottom: 0;
    }
}

.marketing-site-three-up .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1779ba;
}

.marketing-site-three-up-headline {
    margin-bottom: 2rem;
    font-size: 24px;
}

/*techstack*/
.tech-section {
    padding: 20px;
    text-align: center;
}

.marketing-site-features {
    text-align: center;
    padding: 20px;
}

.marketing-site-features .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1779ba;
}

.marketing-site-features .marketing-site-features-title {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
    .marketing-site-features {
        text-align: left;
    }
}

.marketing-site-features-headline {
    text-align: center;
    font-size: 24px;
}

.marketing-site-features-subheadline {
    margin-bottom: 2rem;
    text-align: center;
}

.tech-icon {
    width: auto;
    height: 200px;
}